header {
    // background-image: url('/assets/tuguecityhall.png');
   // background-image: url('https://i.ytimg.com/vi/s20ji7ELexg/maxresdefault.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: transparent;
}
.navbar {
    background-color: transparent;
    color: #fff !important;
}
.nav-link {
    color: #fff !important;
    margin: 0px 10px;
    text-transform: uppercase;
}
.navbar-brand {
    color: #fed136 !important;
}

.data p {
    font-size: 1.35rem;
    font-style: italic;
    line-height: 1.35rem;
    margin-bottom: 1rem;
}
.data h3 {
    font-size: 2.45rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 1rem; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}



p, h5 {
    text-align: justify;
}









  

  // ngx-spinner
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }




  //alert modal error

  body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .cookiesContent {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 30px 30px 70px;
    button.close {
      width: 30px;
      font-size: 20px;
      color: #c0c5cb;
      align-self: flex-end;
      background-color: transparent;
      border: none;
      margin-bottom: 10px;
    }
    img {
      width: 82px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 40px;
      font-size: 18px;
    }
    button.accept {
      background-color: #ed6755;
      border: none;
      border-radius: 5px;
      width: 200px;
      padding: 14px;
      font-size: 16px;
      color: white;
      box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
    }
  }
  
  



















