<div *ngIf="hideregisterform == false" class="container-fluid" style="padding: 0; height: 100%; padding-top: 50px">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body">
                <div class="container-fluid" style="padding: 1%">
                    <div *ngIf="!asterisk" class="alert alert-danger" role="alert" id="notif-alert">Please fill all necessary fields. All fields with asterisk(*) are required.</div>
                    <div *ngIf="!passwordNotMatch" class="alert alert-danger" role="alert" id="notif-alert">Password and Confirm password does not matched.</div>
                    <div *ngIf="!emailNotMatch" class="alert alert-danger" role="alert" id="notif-alert">Email and Confirm email does not matched.</div>
                   
                    <form name="register_major_form" class="needs-validation" [formGroup]="aFormGroup">
                   
                        <div class="card">
                            <div class="card-header text-center text-danger">
                                <img alt="QC logo" src="assets/tuguegaraocitylogo3.png" class="center">
                                <h5>CREATE NEW TUGUEGARAO CITY E-SERVICES ACCOUNT</h5>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <h6 for="fname" class=""><i class="asterequired">*</i>First name:
                                                    </h6>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter first name" id="fname" name="fname"
                                                        formControlName="firstname" maxlength="10"/>
                                                    <p style="color: red;" *ngIf="f['firstname'].errors && f['firstname'].errors['required']">Shouldn't be empty.</p>   
                                                    <p style="color: red;" *ngIf="f['firstname'].errors && f['firstname'].errors['pattern']">Numbers are not allowed</p>   
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <h6 for="lname" class=""><i class="asterequired">*</i>Last name:
                                                    </h6>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter last name" id="lname" name="lname"
                                                        formControlName="lastname" maxlength="10">
                                                        <p style="color: red;" *ngIf="f['lastname'].errors && f['lastname'].errors['required']">Shouldn't be empty.</p>   
                                                        <p style="color: red;" *ngIf="f['lastname'].errors && f['lastname'].errors['pattern']">Numbers are not allowed</p>   
                                        
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <h6 for="mname" class="">Middle name: (Optional)</h6>
                                                    <input type="text" autocomplete="new-password" class="form-control"
                                                    [(ngModel)]="middlename" [ngModelOptions]="{standalone: true}"   placeholder="Enter middle name" id="mname">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">

                                                <div class="form-group">
                                                    <h6 for="suffix" class="">Suffix:</h6>
                                                    <select name="suffix" id="suffix" class="form-select"  [(ngModel)]="suffix" [ngModelOptions]="{standalone: true}">
                                                        <option value="" selected="selected"></option>
                                                        <option value="JR.">JR.</option>
                                                        <option value="SR.">SR.</option>
                                                        <option value="I">I</option>
                                                        <option value="II">II</option>
                                                        <option value="III">III</option>
                                                        <option value="IV">IV</option>
                                                        <option value="V">V</option>
                                                        <option value="VI">VI</option>
                                                        <option value="VII">VII</option>
                                                        <option value="VIII">VIII</option>
                                                        <option value="IX">IX</option>
                                                        <option value="X">X</option>
                                                        <option value="XI">XI</option>
                                                        <option value="XII">XII</option>
                                                        <option value="XIII">XIII</option>
                                                        <option value="XIV">XIV</option>
                                                        <option value="XV">XV</option>
                                                        <option value="XVI">XVI</option>
                                                        <option value="XVII">XVII</option>
                                                        <option value="XVIII">XVIII</option>
                                                        <option value="XIX">XIX</option>
                                                        <option value="XX">XX</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row">

                                            <div class="col-lg-8">

                                                <div class="form-group">

                                                    <h6 for="mname" class=""><i class="asterequired">*</i> Birth Date
                                                    </h6>
                                                    <input class="mr-1 form-control d-inline" type="date" formControlName="birthdate"/>
                                                    <p style="color: red;" *ngIf="f['birthdate'].errors && f['birthdate'].errors['required']">Shouldn't be empty.</p>   
                                       
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <h6 for="mname" class=""><i class="asterequired">*</i>Sex</h6>

                                                    <select class="form-select" id="slct_gender" formControlName="sex">
                                                        <option value="">Select Sex</option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                    <p style="color: red;" *ngIf="f['sex'].errors && f['sex'].errors['required']">Shouldn't be empty.</p>   
                                       
                                                </div>
                                            </div>

                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row">

                                            <div class="col-lg-6 ">

                                                <div class="form-group">
                                                    <h6 for="email" class=""><i class="asterequired">*</i>Email Address:
                                                    </h6>
                                                    <input type="email" class="form-control" autocomplete="new-email"
                                                        placeholder="Enter Email Address" id="email"
                                                        formControlName="email"  (change)="compare2($event)"/>
                                                        <p style="color: red;" *ngIf="f['email'].errors && f['email'].errors['required']">Shouldn't be empty.</p>   
                                                        <p style="color: red;" *ngIf="f['email'].errors && f['email'].errors['email']">Incorrect E-mail format.</p>   
                                             
                                                </div>

                                            </div>
                                            <div class="col-lg-6">

                                                <div class="form-group">
                                                    <h6 for="email" class=""><i class="asterequired">*</i>Confirm Email
                                                        Address:</h6>
                                                    <input type="email" class="form-control" autocomplete="new-email"
                                                        placeholder="Enter Email confirmation" id="confirm_email"
                                                        [(ngModel)]="confirmEmail"  [ngModelOptions]="{standalone: true}" (change)="compare($event)" />
                                                    <p style="color: red;" *ngIf="!isMatchEmail">Not Matched</p>   
                                              
                                                </div>

                                            </div>


                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row">

                                            <div class="col-lg-6 ">

                                                <div class="form-group">
                                                    <h6 for="mob_num" class=""><i class="asterequired">*</i>Mobile
                                                        Number:</h6>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Mobile Number" id="mob_num"
                                                        formControlName="phonenumber" maxlength="11">

                                                         <p style="color: red;" *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['required']">Shouldn't be empty.</p>   
                                                        <p style="color: red;" *ngIf="f['phonenumber'].errors && f['phonenumber'].errors['pattern']">Format(11 Digits): '09XXXXXXXXX.'</p>   
                                             
                                                </div>

                                            </div>


                                        </div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-4 ">
                                                <div class="form-group">
                                                    <h6 for="barangay" class=""><i class="asterequired">*</i>City:</h6>

                                                    <select name="city" id="city" class="form-select"
                                                        formControlName="city" (change)="istuguegaraocity($event)">
                                                        <option value="" selected="selected">- Select City -</option>
                                                        <option value="Tuguegarao City">Tuguegarao City</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                    <p style="color: red;" *ngIf="f['city'].errors && f['city'].errors['required']">Shouldn't be empty.</p>   
                                              
                                                </div>
                                                
                                            </div>
                                            <div class="form-group" *ngIf="!isTugegaraoCity">
                                                <h6 for="city" class=""><i class="asterequired">*</i> Specify your city: </h6>
                                                <input type="text" class="form-control" autocomplete="new-password"
                                                 placeholder="Specify here" id="specific_city" 
                                                 name="specific_city" data-type="city" [(ngModel)]="city"  [ngModelOptions]="{standalone: true}" >
                                                 <p style="color: red;" *ngIf="!isTugegaraoCity && city == ''">Shouldn't be empty.</p>   
                                        
                                            </div>
                                         
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-4 ">

                                                <div class="form-group">
                                                    <h6 for="house_num" class="">House #: (Optional)</h6>
                                                    <input type="text" class="form-control" placeholder="Enter House #"
                                                        id="house_num"  [(ngModel)]="housenumber" [ngModelOptions]="{standalone: true}">

                                                    <div class="invalid-feedback"><i class="asterequired">*</i>Please
                                                        fill this field correctly.</div>
                                                </div>

                                            </div>

                                            <div class="col-lg-4 ">

                                                <div class="form-group">
                                                    <h6 for="street_name" class=""><i class="asterequired">*</i>Street:
                                                    </h6>
                                                    <input type="text" class="form-control" placeholder="Enter Street"
                                                        id="street_name" name="street_name" formControlName="street">
                                                        <p style="color: red;" *ngIf="f['street'].errors && f['street'].errors['required']">Shouldn't be empty.</p>   
                                        
                                                </div>

                                            </div>

                                            <div class="col-lg-4 ">
                                                <div class="form-group">
                                                    <h6 for="barangay" class=""><i class="asterequired">*</i>Barangay:
                                                    </h6>

                                                    <select formControlName="barangaydropdown" *ngIf="isTugegaraoCity" name="brgy_id" id="brgy_id_1" class="form-select">
                                                        <option value="" selected="selected">- Select Barangay -
                                                        </option>
                                                        <option value="Annafunan East">Annafunan East</option>
                                                        <option value="Annafunan West">Annafunan West</option>
                                                        <option value="Atulayan Norte">Atulayan Norte</option>
                                                        <option value="Atulayan Sur">Atulayan Sur</option>
                                                        <option value="Bagay">Bagay</option>
                                                        <option value="Buntun">Buntun</option>
                                                        <option value="Caggay">Caggay</option>
                                                        <option value="Capatan">Capatan</option>
                                                        <option value="Carig Norte (Reyes)">Carig Norte (Reyes)</option>
                                                        <option value="Carig Sur">Carig Sur</option>
                                                        <option value="Caritan Centro">Caritan Centro</option>
                                                        <option value="Caritan Norte">Caritan Norte</option>
                                                        <option value="Caritan Sur">Caritan Sur</option>
                                                        <option value="Cataggaman Nuevo">Cataggaman Nuevo</option>
                                                        <option value="Cataggaman Pardo">Cataggaman Pardo</option>
                                                        <option value="Cataggaman Viejo">Cataggaman Viejo</option>
                                                        <option value="Centro 01">Centro 01</option>
                                                        <option value="Centro 02">Centro 02</option>
                                                        <option value="Centro 03">Centro 03</option>
                                                        <option value="Centro 04">Centro 04</option>
                                                        <option value="Centro 05">Centro 05</option>
                                                        <option value="Centro 06">Centro 06</option>
                                                        <option value="Centro 07">Centro 07</option>
                                                        <option value="Centro 08">Centro 08</option>
                                                        <option value="Centro 09">Centro 09</option>
                                                        <option value="Centro 10">Centro 10</option>
                                                        <option value="Centro 11 (Balzain East)">Centro 11 (Balzain East)</option>
                                                        <option value="Centro 12 (Balzain West)">Centro 12 (Balzain West)</option>
                                                        <option value="Dadda">Dadda</option>
                                                        <option value="Gosi Norte">Gosi Norte</option>
                                                        <option value="Gosi Sur">Gosi Sur</option>
                                                        <option value="Larion Alto">Larion Alto</option>
                                                        <option value="Larion Bajo">Larion Bajo</option>
                                                        <option value="Leonarda">Leonarda</option>
                                                        <option value="Libag Norte">Libag Norte</option>
                                                        <option value="Libag Sur">Libag Sur</option>
                                                        <option value="Linao East">Linao East</option>
                                                        <option value="Linao Norte">Linao Norte</option>
                                                        <option value="Linao West">Linao West</option>
                                                        <option value="Namabbalan Norte">Namabbalan Norte</option>
                                                        <option value="Namabbalan Sur">Namabbalan Sur</option>
                                                        <option value="Pallua Norte">Pallua Norte</option>
                                                        <option value="Pallua Sur">Pallua Sur</option>
                                                        <option value="Pengue">Pengue</option>
                                                        <option value="San Gabriel">San Gabriel</option>
                                                        <option value="Tagga">Tagga</option>
                                                        <option value="Tanza">Tanza</option>
                                                        <option value="Ugac Norte">Ugac Norte</option>
                                                        <option value="Ugac Sur">Ugac Sur</option>
                                                    </select>
                                                    <p style="color: red;" *ngIf="(f['barangaydropdown'].errors && f['barangaydropdown'].errors['required']) && isTugegaraoCity">Shouldn't be empty.</p>   
                                        
                                                    <input *ngIf="!isTugegaraoCity" type="text" class="form-control" placeholder="input barangay"
                                                        id="brgy_id_2" name="brgy_id" formControlName="barangaydropdown">
                                                        <p style="color: red;" *ngIf="!isTugegaraoCity && (f['barangaydropdown'].errors && f['barangaydropdown'].errors['required'])">Shouldn't be empty.</p>   
                                        
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h6 for="workinqc" class=""><i class="asterequired">*</i>Are you working
                                                    in Tuguegarao City?</h6>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input  type="radio" class="form-check-input" name="workinqc"
                                                            value="yes" [(ngModel)]="isWorkingTugue" [ngModelOptions]="{standalone: true}">
                                                            
                                                            Yes</label>
                                                </div>
                                                <div class="form-check-inline">
                                                    <label class="form-check-label">
                                                        <input type="radio" class="form-check-input" name="workinqc"
                                                            value="no" checked="" [(ngModel)]="isWorkingTugue" [ngModelOptions]="{standalone: true}">No</label>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <h6 for="occupation" class="">Occupation</h6>
                                                <input type="text" class="form-control" placeholder="Enter occupation"
                                                    id="occupation" [disabled]="isWorkingTugue == 'no'" [(ngModel)]="occupation" [ngModelOptions]="{standalone: true}">
                                                    <p style="color: red;" *ngIf="isWorkingTugue == 'yes' && occupation == ''">Shouldn't be empty.</p>   
                                        
                                                </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div class="card" style="border-radius: 0px">
                                <div class="card-header">
                                    <h6 class="text-danger">LOGIN CREDENTIAL<!--<h6--></h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-6 ">
                                                    <div class="form-group">
                                                        <h6 for="password" class=""><i
                                                                class="asterequired">*</i>Password:</h6>
                                                        <input type="password" autocomplete="new-password"
                                                            class="form-control" placeholder="Enter password"
                                                            id="password" name="str_password"
                                                           formControlName="password" (change)="comparepassword2($event)"/>
                                                           <p style="color: red;" *ngIf="f['password'].errors && f['password'].errors['required']">Shouldn't be empty.</p>   
                                                           <p style="color: red;" *ngIf="f['password'].errors && f['password'].errors['pattern']">A lowercase, A uppercase, A number, Minimum 8 characters</p>                                                   
                                                  </div>
                                                </div>
                                                <div class="col-lg-6 ">
                                                    <div class="form-group">
                                                        <h6 for="confirm_pass" class=""><i
                                                                class="asterequired">*</i>Confirm password:</h6>
                                                        <input type="password" autocomplete="new-password"
                                                            class="form-control"
                                                            placeholder="Enter password confirmation" id="confirm_pass" 
                                                            name="confirm_pass" [(ngModel)]="confirmPassword"  [ngModelOptions]="{standalone: true}"
                                                            (change)="comparepassword($event)" />
                                                            <p style="color: red;" *ngIf="!isMatchPassword">Not Matched</p>   
                                              
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card" style="border-radius: 0px">
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col-lg-6 ">
                                                    <div class="form-group">
                                                        <!-- capcha -->
                                                        <div id="recaptcha" class="g-recaptcha"
                                                            style="border: 1px solid transparent; border-radius: 3px; max-width: 306px; height: auto; transform: scale(1); transform-origin: 0px 0px;">
                                                            <div style="width: 304px; height: 78px;">
                                                                <ngx-recaptcha2 
                                                                [siteKey]="siteKey"
                                                                formControlName="recaptcha">
                                                              </ngx-recaptcha2>
                                                            </div>
                                                            <iframe style="display: none;">
                                                            </iframe>
                                                        </div>
                                                        <!-- end of capcha -->
                                                        <p style="color: red;" *ngIf="f['recaptcha'].errors && f['recaptcha'].errors['required']">Please finish Recaptcha.</p>   
                                        
                                                        <div id="pass_strength_div" class="text-right">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card" style="border-radius: 0px">
                                <div class="card-body" style="padding-bottom: 0">
                                    <div class="container-fluid">
                                        <div class="custom-control custom-checkbox form-group form-check text-left">
                                            <input type="checkbox" class="custom-control-input" id="customCheck"
                                                name="example1" style="margin-left: 0rem !important;" formControlName="termsofuse"
                                                >
                                            <label class="custom-control-label" for="customCheck">
                                                I have read and understood the&nbsp;
                                                <a 
                                                    style="color: #007bff" routerLink="/termsofservice" target="_blank">Terms of Use&nbsp;</a> &nbsp;<i
                                                    class="fas fa-info-circle"></i>

                                            </label>
                                            <p style="color: red;" *ngIf="f['termsofuse'].errors && f['termsofuse'].errors['required']">Please check this box to proceeed.</p>   
                                        
                                  
                                        </div>
                                    </div>
                                </div>
                                <div class="card" style="border-radius: 0px">
                                    <div class="card-body" style="padding-bottom: 0">
                                        <div class="container-fluid">
                                            <div class="custom-control custom-checkbox form-group form-check text-left">
                                                <input type="checkbox" class="custom-control-input" id="customCheck2"
                                                    name="example2" style="margin-left: 0rem !important;" formControlName="dataprivacypolicy">
                                                <label class="custom-control-label" for="customCheck2" required="">
                                                    I have read and understood the&nbsp;
                                                    <a routerLink="/privacypolicy" target="_blank"
                                                        style="color: #007bff">Data Privacy Policy&nbsp;</a> &nbsp;<i
                                                        class="fas fa-info-circle"></i>

                                                </label>
                                                <p style="color: red;" *ngIf="f['dataprivacypolicy'].errors && f['dataprivacypolicy'].errors['required']">Please check this box to proceeed.</p>   
                                        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">

                                        <p class="small">
                                            <i>By clicking on the register button below, I hereby agree to both the
                                                Terms of Use and Data Privacy Policy.</i>
                                        </p>

                                        <button  (click)="signup()" type="button" class="btn btn-success" id="btn_submit_info"
                                             [disabled]="!aFormGroup.valid"><i class="fas fa-check"></i> &nbsp;
                                            REGISTER
                                        </button>

                                        <a routerLink="/" target="_top"><button
                                                id="btn_cancel_registration" type="button" class="btn btn-danger"><i
                                                    class="fas fa-times"></i> &nbsp; CANCEL</button>
                                                </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="page-footer">
            <br><br><br>
        </div>
    </div>
</div>

<app-alreadyloggedin *ngIf="hideregisterform == true" [item]="continueas" [redirect]="link"></app-alreadyloggedin>

