<!-- navbar -->
<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
    <div class="container-fluid px-0" style="margin:15px 40px 15px 40px;">
       <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
          <div class="d-flex align-items-center">
             <form class="navbar-search form-inline" id="navbar-search-main">
                <div class="input-group input-group-merge search-bar"> 
                   <img src="https://cdn-icons-png.flaticon.com/512/566/566002.png" style="width: 20px;
                   height: 20px; cursor: pointer;" routerLink="/adminhome"/> 
                </div>
             </form>
          </div>
       </div>
    </div>
 </nav>
 <!-- end of navbar -->


 <!-- loading spinner for auto logout -->
 <ngx-spinner  type="pacman">
    <div class="lds-ripple"><div></div><div></div></div>
    <p class="loading">Logging out...</p>
</ngx-spinner>
<!-- end of loading spinner for auto logout -->


<!-- error modal -->
<div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="exampleModal"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Error
                  </h1>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <form>
                <div class="modal-body">
                   <p>{{oldpassworderrMsg}}</p>
                   <p>{{newpassworderrMsg}}</p>
                   <p>{{errMsg}}</p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </form>
              </div>
        </div>
      </div>
<!-- end of error modal -->




<!-- api response not success modal -->
<div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="apiErrorModal"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Error
                  </h1>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <form>
                <div class="modal-body">
                   <p>{{incorrectOldPasswordMessage}}</p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </form>
              </div>
        </div>
      </div>
<!-- end of api response not success modal-->



<!-- api response success modal -->
<div class="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="apiSuccessModal"
    >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Success
                  </h1>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <form>
                <div class="modal-body">
                   <p>{{incorrectOldPasswordMessage}}</p>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success" (click)="closeModal()">Close</button>
                </div>
            </form>
              </div>
        </div>
      </div>
<!-- end of api response success modal-->



<div class="mainDiv">
    <div class="cardStyle">
      <form  [formGroup]="changepasswordFormGroup"> 
        <h2 class="formTitle">
          Change your password
        </h2>

  <!-- User Email -->
  <div class="inputDiv">
    <label class="inputLabel" for="password">Email</label>
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        <input class="form-control" id="password" 
        type="email" value="{{userEmail}}" disabled/>
      </div>
    </div>
    <!-- End of User Email -->



        <!-- Old Password -->
        <div class="inputDiv">
            <label class="inputLabel" for="password">Old Password</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input class="form-control" id="password" name="password" placeholder="Old Password" 
                [type]="oldpasswordType"
                (paste)="(false)" formControlName="oldpassword"
                (keyup)="oldpasswordaMinimum8CharactersPatternValid($event)"/>
                <span class="input-group-text" (click)="oldpasswordShowHide()">
                  <i [ngClass]="oldshowPassword" id="togglePassword" 
                 style="cursor: pointer"></i>
                 </span>
              </div>
            <p style="color: red;" *ngIf="!oldpasswordthereIsLowerCaseCharacters">A lowercase,</p>
            <p style="color: red;" *ngIf="!oldpasswordthereIsUpperCaseCharacters">A uppercase,</p>
            <p style="color: red;" *ngIf="!oldpasswordthereisnumber">A number,</p>
            <p style="color: red;" *ngIf="!oldpasswordminimum8Characters">Minimum 8 characters</p>
            </div>
            <!-- End of Old Password -->
       
            <!-- New Password -->
            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    <input class="form-control" id="password" name="password" placeholder="New Password" 
                    [type]="newpasswordType"
                    (paste)="(false)" formControlName="newpassword"
                    (keyup)="newpasswordaMinimum8CharactersPatternValid($event)"/>
                    <span class="input-group-text" (click)="newpasswordShowHide()">
                      <i [ngClass]="newshowPassword" id="togglePassword" 
                     style="cursor: pointer"></i>
                     </span>
                  </div>
                  <p style="color: red;" *ngIf="!newpasswordthereIsLowerCaseCharacters">A lowercase,</p>
                  <p style="color: red;" *ngIf="!newpasswordthereIsUpperCaseCharacters">A uppercase,</p>
                  <p style="color: red;" *ngIf="!newpasswordthereisnumber">A number,</p>
                  <p style="color: red;" *ngIf="!newpasswordminimum8Characters">Minimum 8 characters</p>
                </div>
            <!-- End of New Password -->     
             
            <!-- Confirm Password -->
                <div class="inputDiv">
                    <label class="inputLabel" for="password">Confirm Password</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input class="form-control" id="password" name="password" placeholder="Confirm Password" 
                        [type]="confirmpasswordType"
                        (paste)="(false)"
                        formControlName="confirmpassword"
                        (keyup)="newpasswordAndconfirmpasswordIsMatchedEvent($event)"/>
                        <span class="input-group-text" (click)="confirmpasswordShowHide()">
                          <i [ngClass]="confirmshowPassword" id="togglePassword" 
                         style="cursor: pointer"></i>
                         </span>
                      </div>
                      <p style="color: red;" *ngIf="!newpasswordAndconfirmpasswordIsMatched">Not matched</p>
                    </div>
                <!-- End of Confirm Password -->
      
        <div class="buttonWrapper">
        <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary"
        (click)="updatePassword()">
          <span>Update</span>
        </button>
      </div>  
    </form>
    </div>
  </div>