.mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
  }
 .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}

#loader {
  position: absolute;
  z-index: 1;
  margin: -2px 0 0 10px;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #666666;
  width: 14px;
  height: 14px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}






//   @media(max-width:991px)
// {
//     .mainDiv {
//         display: flex;
//         min-height: 100%;
//         align-items: center;
//         justify-content: center;
//         background-color: #f9f9f9;
//         font-family: 'Open Sans', sans-serif;
//       }
//      .cardStyle {
//         width: 500px;
//         border-color: white;
//         background: #fff;
//         padding: 36px 0;
//         border-radius: 4px;
//         margin: 30px 0;
//         box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
//       }
//     #signupLogo {
//       max-height: 100px;
//       margin: auto;
//       display: flex;
//       flex-direction: column;
//     }
//     .formTitle{
//       font-weight: 600;
//       margin-top: 20px;
//       color: #2F2D3B;
//       text-align: center;
//     }
//     .inputLabel {
//       font-size: 12px;
//       color: #555;
//       margin-bottom: 6px;
//       margin-top: 24px;
//     }
//       .inputDiv {
//         width: 70%;
//         display: flex;
//         flex-direction: column;
//         margin: auto;
//       }
//     input {
//       height: 40px;
//       font-size: 16px;
//       border-radius: 4px;
//       border: none;
//       border: solid 1px #ccc;
//       padding: 0 11px;
//     }
//     input:disabled {
//       cursor: not-allowed;
//       border: solid 1px #eee;
//     }
//     .buttonWrapper {
//       margin-top: 40px;
//     }
//       .submitButton {
//         width: 70%;
//         height: 40px;
//         margin: auto;
//         display: block;
//         color: #fff;
//         background-color: #065492;
//         border-color: #065492;
//         text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
//         box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
//         border-radius: 4px;
//         font-size: 14px;
//         cursor: pointer;
//       }
//     .submitButton:disabled,
//     button[disabled] {
//       border: 1px solid #cccccc;
//       background-color: #cccccc;
//       color: #666666;
//     }
    
//     #loader {
//       position: absolute;
//       z-index: 1;
//       margin: -2px 0 0 10px;
//       border: 4px solid #f3f3f3;
//       border-radius: 50%;
//       border-top: 4px solid #666666;
//       width: 14px;
//       height: 14px;
//       -webkit-animation: spin 2s linear infinite;
//       animation: spin 2s linear infinite;
//     }
    
//     @keyframes spin {
//         0% { transform: rotate(0deg); }
//         100% { transform: rotate(360deg); }
//     }
    
    
    
//     .field-icon {
//         float: right;
//         margin-left: -25px;
//         margin-top: -25px;
//         position: relative;
//         z-index: 2;
//       }
// }




// img {
//     width: 20%;
//     min-width: 200px;
//     padding: 20px;
//     padding-top: 20px;
//     padding-right: 20px;
//     padding-bottom: 20px;
//     padding-left: 20px;
// }

.asterequired {
    color: red;
    padding-right: 3px;
    font-weight: bold;
}

.drs {
    position: absolute;
    border: 1px solid #787878;
    z-index: 1;
    display: none;
    background-color: white;
    width: 90%;
}

ul.search-ul {
    padding: 0;
    list-style-type: none;
}

ul.search-ul li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.selected {
    background: #000;
    color: #fff;
}

.selected-li {
    background: #f2f2f2;
}

.not-selected-li {
    background: #fff;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}








@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

$default:#9E9E9E;
$error:#D50000;
$warning:#FF6F00;
$neutral:#448AFF;
$success:#388E3C;
$uhm:#c1610d;

$light:#eee;
$dark:#222;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  padding: 0;
  margin: 0;
  font-size:16px;
  overflow:hidden;
}

.message{
  background:$light;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.31);
  border-radius:1em;
  overflow:hidden;
  display:flex;
  flex-wrap:wrap;
  max-width:40em;
  margin:2em auto;
  
  header {
    background:$default;
    width:100%;
    padding:.5em;
  }
  
  i:after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content:'\f128';
    font-style:normal;
    color:$light;
    background:mix($dark, $default, 85%);
    padding:1em .75em;
    font-size:1.25em;
    display:block;
    width:2.5em;
    height:100%;
    text-align:center;
  }
  
  h2{
    margin:.75em;
    font-size:1.25em;
    position:relative;
    display:block;
    width:calc(100% - 2.5em - 1.5em);
    
    span {
      color:$default;
    }
    
    &:after {
      content:'';
      border-bottom:.1em solid $default;
      width:100%;
      height:100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.error {
  header {
    background:$error;
  }
  
  i:after{
    background:mix($dark, $error, 85%);
    color:lighten($error, 25%);
    content: "\f12a";
  }
  
  h2 {
    span {
      color:$error;
    }
  
    &:after {
      border-bottom:.1em solid $error;
    }
  }
}

.warning {
  header {
    background:$warning;
  }
  
  i:after{
    background:mix($dark, $warning, 85%);
    color:lighten($warning, 25%);
    content: "\f071";
  }
  
  h2 {
    span {
      color:$warning;
    }
  
    &:after {
      border-bottom:.1em solid $warning;
    }
  }
}

.neutral {
  header {
    background:$neutral;
  }
  
  i:after{
    background:mix($dark, $neutral, 85%);
    color:lighten($neutral, 25%);
    content: "\f05a";
  }
  
  h2 {
    span {
      color:$neutral;
    }
  
    &:after {
      border-bottom:.1em solid $neutral;
    }
  }
}

.success {
  header {
    background:$success;
  }
  
  i:after{
    background:mix($dark, $success, 85%);
    color:lighten($success, 25%);
    content: "\f058";
  }
  
  h2 {
    span {  color:$success;
    }
  
    &:after {
      border-bottom:.1em solid $success;
    }
  }
}

.uhm {
  header {
    background:$uhm;
  }
  
  i:after{
    background:mix($dark, $uhm, 85%);
    color:lighten($uhm, 25%);
    content: "\f2fe";
  }
  
  h2 {
    span {
      color:$uhm;
    }
  
    &:after {
      border-bottom:.1em solid $uhm;
    }
  }
}








.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


